.home{
    display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    // height: 300px;
    // text-align: center;
    font-size: 24px;
    background: rgb(240, 245, 245);
    height:100%;
    .ant-card{
        height: 13rem                             ;
        .ant-card-body{
            font-size: 1.625rem;
            padding: 1.125rem;
            // height: 6.25rem;
            .card-static{
                display: flex;
                // margin: 10px;
                flex-wrap:wrap;
              
            }
            .text{
                display: flex;
                font-size: 0.875rem;
                transform: translateY(10%);
            }
            .views-line{
                display: flex;
                width: 100%;
                height: 3.9375rem;
                // transform: translateY(-20%);
                // transform: translateX(-10%);
            }
            .pay-bar{
                display: flex;
                width: 100%;
                height: 3.9375rem;
                // transform: translateY(-20%);
                // transform: translateX(-10%);
            }
            .feedback{
                display: flex;
                width: 100%;
                height: 6.266875rem
            }
        }
          
          
       
    }
    .CardSales{
        padding-top: 1.25rem;
        height: 25rem;
        
        .sales-line{
            // display: flex;
            width: 80%;
            height: 16.875rem;
            margin-left: 2.5rem;
            
        }
    } 
    .Row-Capacity{
        padding-top: 1.25rem;
        // height: 18.75rem;
      
            .Liquid{
                width: 100%;
                height:  100%;
            }
        
        }
        
   

}